@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");

/*
=============== 
Variables
===============
*/

:root {
  /* dark shades of primary color*/
  --clr-primary-1: hsl(216, 91%, 17%);
  --clr-primary-2: hsl(216, 84%, 25%);
  --clr-primary-3: hsl(216, 81%, 29%);
  --clr-primary-4: hsl(216, 77%, 34%);
  /* primary/main color */
  --clr-primary-5: hsl(216, 62%, 45%);
  /* lighter shades of primary color */
  --clr-primary-6: hsl(216, 57%, 50%);
  --clr-primary-7: hsl(216, 65%, 59%);
  --clr-primary-8: hsl(216, 80%, 74%);
  --clr-primary-9: hsl(216, 94%, 87%);
  --clr-primary-10: hsl(216, 100%, 98%);
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
  --clr-red: #bb5252;
  --clr-orange: hsl(27, 100%, 50%);;
  --ff-primary: "Roboto", sans-serif;
  --ff-secondary: "Open Sans", sans-serif;
  --transition: all 0.3s linear;
  --spacing: 0.25rem;
  --radius: 0.5rem;
  --btnRadius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
}

*, *::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
}

body {
    background: var(--clr-grey-10);
    line-height: 1.5;
    color: var(--clr-grey-1);
    font-family: var(--ff-secondary);
    font-size: 0.875rem;
}
/* 
===============
GLOBAL STYLES
=============== 
*/
ul {
    list-style-type: none;
}
a {
    text-decoration: none;
}
img {
    display: block;
    width: 100%;
    object-fit: cover;
}
h1, h2, h3, h4 {
    text-transform: capitalize;
    letter-spacing: var(--mainSpacing);
    margin-bottom: 1.25rem;
}
h1 {
    font-size: 3rem;
}
h2 {
    margin-bottom: 0;
}
p {
    margin-bottom: 1.25rem;
    color: var(--clr-grey-5);
}
@media screen and (min-width: 768px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}
/* section */
.section {
  padding: 3rem 0;
}

.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
}
@media screen and (min-width: 992px) {
  .section-center {
    width: 95vw;
  }
}

.header {
    height: 30vh;   
    width: 100vw;
    margin: 0 auto;
    background: linear-gradient(rgba(242, 128, 34, 0.75), rgba(255, 255, 255, 0.5)),url('./img/bg2.jpg') bottom/cover no-repeat fixed;
    position: relative;
}
.header-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(255, 255, 255, 0.5);
    width: 80vw;
    text-align: center;
    color: green;
    padding: 0.25rem 0;
}
.navbar {
    height: 5rem;
    background: var(--clr-orange);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 4rem;
    font-size: 1.5rem;
    color: var(--clr-grey-1);
}
.nav-links a {
    font-size: 1.15rem;
}
.showlinks {
    visibility: hidden;
}
@media screen and (max-width: 576px) {
    .header-title {
        visibility: hidden;
    }
}
@media screen and (min-width: 576px) {
    .header {
        height: 40vh;
    }
}
@media screen and (min-width: 900px) {
    .showlinks {
        visibility: visible;
    }
    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .nav-links {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    .nav-links li {
        padding-right: 4rem;
    }
    .nav-links a {
        color: var(--clr-grey-1);
        /* font-size: 1.25rem; */
        transition: var(--transition);
    }
    .nav-links a:hover {
        color: green;
    }
    .menu-icon {
        display: none;
    }
}

/* Introduction */
.article-title {
    text-align: left;
    color: green;
    margin-bottom: 3rem;
    margin-top: 1.5rem;
    border-left: 3px dotted green;
    font-size: 1.5rem;
}
.article-title h2 {
    text-transform: uppercase;
    padding-left: 1rem;
}
.article-title h2::first-letter {
    font-size: 3.5rem;
}
.intro p {
    font-size: 1rem;
    max-width: 90%;
    letter-spacing: var(--spacing);
}

@media screen and (min-width: 776px) {
    .section-center:not(:last-of-type) {
        margin-bottom: 0;
        padding-bottom: 0;
    }
}

.section-container h3 {
    text-align: center;
    padding: 1rem 0 0 0;
    color: #bb5252;
    letter-spacing: var(--spacing);
    font-size: 1.25rem;
}
.info-btn {
    outline: 2px solid green;
    padding: 0.45rem 0.75rem;
    color: green;
    background: transparent;
    letter-spacing: 0.5px;
    font-size: 0.75rem;
    cursor: pointer;
    transition: var(--transition);
    float: right;
    margin-right: 0.25rem;
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
}
.info-btn:hover {
    background: green;
    color: var(--clr-white);
}

@media screen and (min-width: 576px) {
    .card-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 2rem;
    }
}
@media screen and (min-width: 992px) {
    .card-container {
        grid-template-columns: repeat(3, 1fr);
        row-gap: 1rem;
    }
}

.special-article {
    margin-bottom: 2rem;
}
.special-article li {
    display: inline-block;
    padding-right: 0.25rem;
    font-size: 1rem;
    text-transform: capitalize;
}

.special-article li::before {
    content: '🍋 ';
}

.footer {
    background: var(--clr-grey-1);
    padding: 3rem;
    text-align: center;
    letter-spacing: var(--spacing);
    color: var(--clr-grey-10);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;overflow: hidden;
}
.footer .social-icons {
    font-size: 2rem;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 1rem;
}
.footer .social-icons span {
    transition: var(--transition);
}
.footer .social-icons span:hover {
    color: var(--clr-primary-5);
    transform: scale(1.2);
}